{% extends "layout.html" %}

{% block jsscripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/socketio/socket.io.slim.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/channel.js')}}"></script>
<meta id="channelid" data-id="{{channel.id}}">
{% endblock %}

{% block heading %}
{{channel.name}} :-
{% endblock %}

<br>

{% block body %}
<div id="messages">
{% for message in messages %}
  <div id="message{{message.id}}">
    {{message.sentby}} : {{message.message}}<br>
    {{message.senton}} <div class="float right"><button class="deletemessage" data-id="{{message.id}}">Delete</button></div><br>
    <br>
  </div>
{% endfor %}
</div>

<br>
<div id="add_message">
  <input type="text" name="message_in" id="message_in">
  <button id="enterbutton">Enter</button>
</div>

<br>
<div>
  <a href="{{url_for('channellist')}}" class="btn btn-primary">Channel list</a>
</div>
{% endblock %}
