<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flack</title>
    {% block jsscripts %}
    {% endblock %}
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap/jquery-3.4.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap/bootstrap.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap/bootstrap.css')}}">
  </head>
  <body>
      <div class="container">
      <h1>{% block heading %}
      {% endblock %}</h1>
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
